.idea

public/*
!public/.gitkeep

instructions/*
!instructions/docs
!instructions/step*.md

/.pytest_cache/
/.coverage
/build/
/dist/
/project_name.egg-info/
/reports/

requirements/all.
/venv/
/__pycache__